.error {
    border: 2px solid red;
  }
  
  h1 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  }
  h2 {
    text-align: center;
    color:whitesmoke;
  }
  
  body {
    background: #7ecf89;;
    background-size: 400% 400%;
    animation: gradient 5s ease-in infinite;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  }
  .main {
    margin-top: 50px;
    max-width: 960px;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #footer_of_my_site {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #87d6b5;
    text-align: center;
    color:whitesmoke;
    font-size: 150%;
  }
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  #form {
    margin-left: auto;
    margin-right: auto;
  }
  .input-field {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    color:whitesmoke;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #7d837e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .gradient-button {
    text-decoration: none;
    display: inline-block;
    color:whitesmoke;
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(
      to right,
      #cc1253 0%,
      #046120 51%,
      #023312 100%
    );
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  .gradient-button:hover {
    background-position: right center;
  }
  
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #7ecf89;;
    background-size: 400% 400%;
    animation: gradient 5s ease-in infinite;
  }
  .form .message {
    margin: 15px 0 0;
    color:whitesmoke;
    font-size: 12px;
  }
  .form .message a {
    color: #4caf50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: '';
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #ef3b3a;
  }
  